<a href="https://colab.research.google.com/github/sohelshekhatik1998/CHENNAI-HOUSE-PREDICTION-SALE/blob/main/timedelta.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from datetime import datetime
from dateutil.relativedelta import relativedelta, MO
exp_date=str(input())
month=int(input())
cost=int(input())

if exp_date>=1

NameError: ignored

In [ ]:
# Python3 program two find number of
# days between two given dates

# A date has day 'd', month 'm' and year 'y'


class Date:
	def __init__(self, d, m, y):
		self.d = d
		self.m = m
		self.y = y


# To store number of days in all months from
# January to Dec.
monthDays = [31, 28, 31, 30, 31, 30,
			31, 31, 30, 31, 30, 31]

# This function counts number of leap years
# before the given date


def countLeapYears(d):

	years = d.y

	# Check if the current year needs to be considered
	# for the count of leap years or not
	if (d.m <= 2):
		years -= 1

	# An year is a leap year if it is a multiple of 4,
	# multiple of 400 and not a multiple of 100.
	return int(years / 4) - int(years / 100) + int(years / 400)


# This function returns number of days between two
# given dates
def getDifference(dt1, dt2):

	# COUNT TOTAL NUMBER OF DAYS BEFORE FIRST DATE 'dt1'

	# initialize count using years and day
	n1 = dt1.y * 365 + dt1.d

	# Add days for months in given date
	for i in range(0, dt1.m - 1):
		n1 += monthDays[i]

	# Since every leap year is of 366 days,
	# Add a day for every leap year
	n1 += countLeapYears(dt1)

	# SIMILARLY, COUNT TOTAL NUMBER OF DAYS BEFORE 'dt2'

	n2 = dt2.y * 365 + dt2.d
	for i in range(0, dt2.m - 1):
		n2 += monthDays[i]
	n2 += countLeapYears(dt2)

	# return difference between two counts
	return (n2 - n1)


# Driver program
dt1 = Date(13, 12, 2018)
dt2 = Date(25, 2, 2019)

print(getDifference(dt1, dt2), "days")

74 days

In [3]:
from datetime import date

from dateutil.relativedelta import relativedelta, MO
def total_subcription(expiry_date,total_cost): 
  f_date+relativedelta(months=+1)
  
  if f_date>= f_date<15:
    return l_date - f_date
f_date = date(2022,6,19)
l_date = date(2022, 7, 15)
month_bye=int(input())
month_bye_days=month_bye*30
bye_cost_per_month=int(input())

c= total_subcription(expiry_date,total_cost)

6
500

NameError: ignored

In [ ]:
from datetime import date

from dateutil.relativedelta import relativedelta, MO
date(2010,12,31)+relativedelta(months=+1)
datetime.date(2011, 1, 31)

TypeError: ignored

In [ ]:





f_date = date(2022, 7, 15 )

#delta = s - f_date
#d =timedelta(days=n)-date.day(delta)
#print(d)



#print(delta.days)
print(s.strftime("%d/%m/%y"))

1
1000

TypeError: ignored

In [ ]:
1from datetime import datetime, timedelta
    
d = s- timedelta(15)

datetime.date(2022, 7, 4)

In [ ]:
#get first and last day of this and last month)
today = dt.date.today()
n=int(input())
b=int(input())
first_day_this_month = dt.date(day=1, month=n, year=b)
last_day_last_month = first_day_this_month + relativedelta(days=14)
print (first_day_this_month, last_day_last_month)
#h=s-last_day_last_month
#print(h)

1
2000
2000-01-01 2000-01-15

In [6]:
import datetime as dt
from dateutil.relativedelta import relativedelta
from datetime import date
from dateutil.relativedelta import relativedelta, MO
import calendar
import datetime
from datetime import datetime, timedelta
datetime_str=str(input())
n=int(input())
cost=int(input())
m=n*30
f=cost/30
datetime_object = datetime.strptime(datetime_str,'%m/%d/%y')
s=datetime_object+relativedelta(days=+m)
datetime_date_object = datetime.date(s)
k=[]
m=[]

day1=dt.date(day=1,month=7,year=2022)
datetime_date_object1= datetime.date(day1)
day2=dt.date(day=15,month=7,year=2022)
datetime_date_object2= datetime.date(day2)


if s>=(datetime_date_object1) or s<(datetime_date_object2):
  print(k.append(date(year=2022,month=7,day=1)))
else:
  print(m.append(dt.date(year=2022, month=7,day=15)))
print(s)
print(datetime_date_object)

 hhjbjhhjhj
544m

ValueError: ignored

In [ ]:
import datetime 
def calculate_subcription(expiry_date,months_to_buy,monthly_cost):
  if expiry_date>

In [ ]:
from datetime import *
item_date = datetime.strptime('7/16/10', "%m/%d/%y")
from_date = date.today()-timedelta(days=3)
print type(item_date)

 print type(from_date)
<type 'datetime.date'>
if item_date > from_date:
     print 'item is newer'

In [ ]:
if effective_date !="" and try_flag==0:
  try:
    day=int(effective_date[1])
    month=int(effective_date[0])
    year=int(effective_date[2])
    eff_date=date(year,month,day)
    eff_date=eff_date-timedelta(day)

In [11]:
from datetime import date
from dateutil.relativedelta import relativedelta


def calculate_subs(d,months_subs,cost_subs_per_month):
    if months_subs==1:
        cost_per_day=1000/30
        days=26
        cost_subs_per_month=round(days*cost_per_day,2)
        updated_date=d+relativedelta(days=26)
        print(updated_date.strftime('%d/%m/%y'),cost_subs_per_month)
    if months_subs==3:
        cost_per_day=400/30
        days=89
        cost_subs_per_month=round(days*cost_per_day,2)
        updated_date=d+relativedelta(days=90)
        print(updated_date.strftime('%d/%m/%Y'),cost_subs_per_month)

date_components=input('Enter a Date formatted as DD/MM/YYYY : ').split('/')
year,month,day=[int(item) for item in date_components]
d=date(day,month,year)

months_subs=int(input())
cost_subs_per_month=int(input())


calculate_subs(d,months_subs,cost_subs_per_month)

Enter a Date formatted as DD/MM/YYYY : 3/06/2022
3
400
01/09/2022 1186.67

expiry date:
if date>=1 and <15 :
print(1)
else:
print(15)